# Django Settings
DJANGO_SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True

# Database - Render PostgreSQL
DB_NAME=hepatoscandb
DB_USER=postgress
DB_PASSWORD=16wRqNe1lmiqEch8cwpsWSlpD9BCCzqJ
DB_HOST=dpg-d7rpvojeo5us73cc30bg-a.oregon-postgres.render.com
DB_PORT=5432

# Gemini API
GEMINI_API_KEY=your-gemini-api-key-here
